#header{
    position: relative;
}
.dimmed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    transition: .3s;
    background: rgba(0, 0, 0, 0.8);
    &.on {
        opacity: 1;
        visibility: visible;
    }
    @include tablet {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }
}
.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0% 0% auto;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 70px;
    z-index: 999;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    &.on {
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.5);
    }
    @include tablet {
        max-width: 620px;
    }
}
.logo {
    display: flex;
    margin-left: 16px;
    img{
        width: 97px;
        border-radius: 15px;
    }
}

.util-area {
    margin-right: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    .btn-member {
        img {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}
.member-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    background-color: white;
    transform: translateY(100%);
    transition: 0.5s;
    @include tablet {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }

    &.on {
        transform: translateY(0);
    }
    .wrapper-box {
        position: relative;
        height: 100%;
    }
    .wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 24px 16px;
    }
    .inner {
        background-color: rgb(255, 255, 255);
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
    }
   .header-mem {
        width: 100%;
        //overflow: hidden;
        height: 44px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        position: fixed;
        inset: 0% 0% auto;
        svg {
            margin-left: 16px;
            cursor: pointer;
        }
        @include tablet {
            max-width: 620px;
            margin-left: auto;
            margin-right: auto;
        }
   }
   .container-mem {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        min-height: 100vh;
        .login {
            margin: 20px 0px;
            padding-top: 24px;
            .title-wrap {
                margin-bottom: 20px;
            }
            .title {
                margin-bottom: 4px;
                background: linear-gradient(75deg, rgb(236, 12, 110) 56.77%, rgb(161, 152, 255) 79.17%, rgb(100, 255, 255) 100%) text;
                -webkit-text-fill-color: transparent;
                font-size: 40px;
                font-weight: 700;
                line-height: 140%;
                width: fit-content;
            }
            .desc {
                color: rgb(66, 66, 66);
                font-size: 14px;
                font-weight: 400;
                line-height: 140%;
            }
            .btn-wrap {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            .fill {
                border-radius: 8px;
                border-width: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                height: 48px;
                width: 100%;
                padding: 14px 25px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 0px;
                background-color: rgb(255, 71, 127);
                color: rgb(255, 255, 255);
            }
            .empty {
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-decoration: none;
                box-sizing: border-box;
                height: 48px;
                width: 100%;
                padding: 14px 25px;
                font-size: 16px;
                line-height: 20px;
                font-weight: 700;
                letter-spacing: 0px;
                background-color: transparent;
                border-color: rgb(255, 71, 127);
                border-width: 1px;
                border-style: solid;
                color: rgb(255, 71, 127);
            }
        }
        .notice {
            display: flex;
            gap: 8px;
            flex-direction: column;
            a {
                border-radius: 8px;
                border-width: 0px;
                align-items: center;
                height: 48px;
                width: 100%;
                padding: 14px 25px;
                background-color: rgb(241, 243, 245);
                color: rgb(52, 58, 64);
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                letter-spacing: 0px;
                cursor: pointer;
            }
        }
        .policy {
            display: flex;
            flex-direction: column;
            padding-left: 12px;
            padding-top: 32px;
            a {
                font-size: 12px;
                line-height: 14px;
                font-weight: 400;
                letter-spacing: 0px;
                color: rgb(134, 142, 150);
                cursor: pointer;
                width: fit-content;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
            .highlighted {
                font-weight: bold;
            }
        }
   }
}
.menu-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateY(100%);
    transition: 0.3s;
    @include tablet {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }

    &.on {
        transform: translateY(0);
    }
    .wrapper-box {
        position: relative;
        height: 100%;
    }
    .wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 24px 16px;
    }
    .inner {
        background-color: rgb(255, 255, 255);
        height: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .header-menu {
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255);
        position: fixed;
        inset: 0% 0% auto;
        svg {
            margin-left: 16px;
            cursor: pointer;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-self: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            letter-spacing: -0.01em;
        }
        @include tablet {
            max-width: 620px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .container-menu {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        .shortcut {
            margin-bottom: 24px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: rgb(248, 249, 250);
            border-radius: 10px;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 0px;
                cursor: pointer;
                &:not(:first-child)::before {
                    display: block;
                    content: "";
                    height: 12px;
                    width: 1px;
                    background: rgb(222, 226, 230);
                    align-self: center;
                }
                a {
                    display: flex;
                    width: 100%;
                    gap: 6px;
                    align-items: center;
                    justify-content: center;
                }
                svg {
                    color: rgb(134, 142, 150);
                }
                .name {
                    text-align: center;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    letter-spacing: 0px;
                    color: rgb(21, 24, 27);
                }
            }
        }
        .ad-banner {
            margin-bottom: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 20px;
            background-color: rgb(248, 249, 250);
            border-radius: 8px;
            cursor: pointer;
            .title {
                font-size: 16px;
                line-height: 22px;
                font-weight: 500;
                letter-spacing: 0px;
                color: rgb(21, 24, 27);
                margin-bottom: 4px;
            }
            .desc {
                font-size: 13px;
                line-height: 16px;
                font-weight: 400;
                letter-spacing: 0px;
                color: rgb(134, 142, 150);
            }
            .btn-shortcut {
                background-color: rgb(21, 24, 27);
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                letter-spacing: 0px;
                color: rgb(255, 255, 255);
                border-radius: 100px;
                outline: none;
                border: none;
                padding: 12px 16px;
                cursor: pointer;
            }
        }
    }
}
/*
@media all and (min-width: 992px){
    
    .member-popup, .menu-popup {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }
    .member-popup .header-mem, .menu-popup .header-menu  {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }
    .dimmed {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }
}*/